
.background-header {
    
    padding-bottom: 70px;
    background: rgb(0, 0, 0);
}

.background-header-title {
    color: white;
    font-size: 120px;
    font-weight: 700;
    margin-top: 100px;
}

.background-header-desc {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.background-logo-yamaha{
    width: 200px;
    position: absolute;
    margin: 30px;
}
