.background-header {

    padding-bottom: 70px;
    background: rgb(212, 127, 38);
    background: linear-gradient(90deg, rgba(212, 127, 38, 1) 0%, rgba(247, 127, 0, 1) 100%);
}

.background-header-title {
    color: white;
    font-size: 120px;
    font-weight: 700;
    margin-top: 100px;
}

.background-header-desc {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.background-logo-yamaha {
    width: 200px;
    position: absolute;
    margin: 30px;
}